/* Reset default styles and set box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-row{
  display: flex;
  gap: 24px;
}

textarea{
  resize: none;
}

/* Body styles for overall layout */
body {
  display: flex;
  height: 100vh;
  background-color: #f9f9f9;
}

/* Sidebar styles for the left navigation panel */
/* Sidebar */
.sidebar {
  width: 200px;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  padding-top: 30px;
  /* Styles the top padding of the sidebar */
}

/* Styles for the hospital logo in the sidebar */
.sidebar img {
  display: block;
  margin: -60px auto -20px auto;
  /* Styles the margin of the logo image */
  width: 200px;
}

.nav-item {
  display: block;
  padding: 12px 20px;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

/* Styling for the active navigation item to highlight the current page */
.nav-item.active {
  background-color: #f2f2f2;
  /*border-left: 4px solid #a5dfef;*/
}

/* Hover effect for navigation items to provide user feedback */
.nav-item:hover {
  background-color: #f0f0f0;
}

/* Styles for navigation items that include an icon */
.nav-item.with-icon {
  display: flex;
  align-items: center;
}

/* Pseudo-element to create space for the icon before the text in navigation items */
.nav-item.with-icon::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Specific style for the Home icon, using a data URI for the SVG image */
/*Home*/
.nav-item.home::before {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 10.75L3.25653 8.58333M3.25653 8.58333L11.1544 1L19.0522 8.58333M3.25653 8.58333V19.4167C3.25653 19.704 3.3754 19.9795 3.58699 20.1827C3.79858 20.3859 4.08556 20.5 4.38479 20.5H7.76959M19.0522 8.58333L21.3088 10.75M19.0522 8.58333V19.4167C19.0522 19.704 18.9334 19.9795 18.7218 20.1827C18.5102 20.3859 18.2232 20.5 17.924 20.5H14.5392M7.76959 20.5C8.06882 20.5 8.3558 20.3859 8.56739 20.1827C8.77898 19.9795 8.89785 19.704 8.89785 19.4167V15.0833C8.89785 14.796 9.01672 14.5205 9.22831 14.3173C9.4399 14.1141 9.72688 14 10.0261 14H12.2826C12.5819 14 12.8689 14.1141 13.0804 14.3173C13.292 14.5205 13.4109 14.796 13.4109 15.0833V19.4167C13.4109 19.704 13.5298 19.9795 13.7414 20.1827C13.953 20.3859 14.2399 20.5 14.5392 20.5M7.76959 20.5H14.5392' stroke='%233F3F46' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

/*Calendar*/
/* Specific style for the Home icon, using a data URI for the SVG image */
.nav-item.calendar::before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='5' width='14' height='12' stroke='black' stroke-width='2' rx='2'/%3E%3Cpath d='M16 3a2 2 0 0 1 2 2v1H2V5a2 2 0 0 1 2-2h12z' fill='black'/%3E%3Cpath d='M6 1v4M14 1v4' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

/*Profile*/
/* Specific style for the Home icon, using a data URI for the SVG image */
.nav-item.profile::before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 15C1 13.9391 1.42143 12.9217 2.17157 12.1716C2.92172 11.4214 3.93913 11 5 11H13C14.0609 11 15.0783 11.4214 15.8284 12.1716C16.5786 12.9217 17 13.9391 17 15C17 15.5304 16.7893 16.0391 16.4142 16.4142C16.0391 16.7893 15.5304 17 15 17H3C2.46957 17 1.96086 16.7893 1.58579 16.4142C1.21071 16.0391 1 15.5304 1 15Z' stroke='black' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M9 7C10.6569 7 12 5.65685 12 4C12 2.34315 10.6569 1 9 1C7.34315 1 6 2.34315 6 4C6 5.65685 7.34315 7 9 7Z' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
}

/*Intake*/
/* Specific style for the Home icon, using a data URI for the SVG image */
.nav-item.intake::before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='19' viewBox='0 0 16 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8333 5.54165H12.4583C12.0384 5.54165 11.6357 5.37483 11.3387 5.0779C11.0418 4.78097 10.875 4.37824 10.875 3.95831V1.58331' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.12499 14.25C5.70506 14.25 5.30234 14.0832 5.0054 13.7862C4.70847 13.4893 4.54166 13.0866 4.54166 12.6666V3.16665C4.54166 2.74672 4.70847 2.34399 5.0054 2.04706C5.30234 1.75013 5.70506 1.58331 6.12499 1.58331H11.6667L14.8333 4.74998V12.6666C14.8333 13.0866 14.6665 13.4893 14.3696 13.7862C14.0726 14.0832 13.6699 14.25 13.25 14.25H6.12499Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.375 6.01663V16.15C1.375 16.4859 1.50845 16.8081 1.746 17.0456C1.98354 17.2832 2.30573 17.4166 2.64167 17.4166H10.4' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

/*Vitals*/
/* Specific style for the Home icon, using a data URI for the SVG image */
.nav-item.vitals::before {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 12V10H5.7L8 16.1L14 0.275024L17.7 10H22V12H16.3L14 5.90002L8 21.725L4.3 12H0Z' fill='black'/%3E%3C/svg%3E");
}

/*Prescription*/
/* Specific style for the Home icon, using a data URI for the SVG image */
.nav-item.prescription::before {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2.16667C1 1.9567 1.08341 1.75534 1.23187 1.60687C1.38034 1.45841 1.5817 1.375 1.79167 1.375H8.52083V6.125H13.6667V14.8333C13.6667 15.0433 13.5833 15.2447 13.4348 15.3931C13.2863 15.5416 13.085 15.625 12.875 15.625H1.79167C1.5817 15.625 1.38034 15.5416 1.23187 15.3931C1.08341 15.2447 1 15.0433 1 14.8333V2.16667Z' stroke='black' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E");
}

/*Logout*/
/* Specific style for the Home icon, using a data URI for the SVG image */
.nav-item.logout::before {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4584 3.54167L11.3421 4.65792L13.3846 6.70833H5.33337V8.29167H13.3846L11.3421 10.3342L12.4584 11.4583L16.4167 7.5M2.16671 1.95833H8.50004V0.375H2.16671C1.29587 0.375 0.583374 1.0875 0.583374 1.95833V13.0417C0.583374 13.9125 1.29587 14.625 2.16671 14.625H8.50004V13.0417H2.16671V1.95833Z' fill='black'/%3E%3C/svg%3E");
}

/*Main Content*/
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/*header style*/
.header {
  background-color: #A5DFEF;
  padding: 15px 20px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

/*header-icons style*/
.header-icons {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 15px;
}

/*notification-icon style*/
.notification-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/*top-right-avatar style*/
.top-right-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #666;
  border: 2px solid #ccc;
}

/*content style*/
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/*patient-info style*/
.patient-info {
  background-color: #fff;
  padding: 15px;
  padding-left: 70px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/*patient-left style*/
.patient-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*patient-avatar style*/
.patient-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #666;
  border: 2px solid #ccc;
}

/*patient-name style*/
.patient-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/*patient-right style*/
.patient-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.info-table {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin-bottom: 15px;
  min-width: 700px;
}

.info-column {
  display: flex;
  flex-direction: column;
}

.info-label {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.info-value {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

/*intake part*/
.tabs{
  position: relative;
  z-index: 1;
  display: inline-flex;
  margin: 0 0 -40px 0;
  height: 72.556px;
  width: 188px;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 16px;
  ;
}

.tabs.active{
  background: #FFF;
}

.tabs:not(.active){
  background: #F5F5F5
}

.intake-card {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
  background: #FFF;
  border-radius: 20px;
  padding: 20px;
  border: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.intake-card[disabled] {
  cursor: not-allowed;
}

.intake-card.complaint {
  width: 1200px;
  height: 185.18px;
}

.intake-card.diagnosis {
  width: 1000px;
  height: 150px;
}

/*button setting*/
.button-group {
  display: flex;
  flex-direction:column;
  gap: 15px;
  justify-content: flex-end;
}

.edit-btn,.save-btn,.submit-btn {
  width: 150px;
  padding: 10px 20px;
  border: 2px solid #a5dfef;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  color: #a5dfef;
}


