
.form-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-row{
  display: flex;
  gap: 24px;
}

textarea{
  resize: none;
}

/*intake part*/
.tabs{
  z-index: 1;
  display: inline-flex;
  margin: 0 0 -40px 0;
  height: 60px;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 16px;
  font-size: 1.2rem;
}

.tabs.active{
  background: #FFF;
}

.tabs:not(.active){
  background: #F5F5F5
}

.intake-card {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
  background: #FFF;
  border-radius: 20px;
  padding: 20px;
  border: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.intake-card[disabled] {
  cursor: not-allowed;
}

.intake-card.complaint {
  width: 75vw;
  height: 15vh;
}

.intake-card.diagnosis {
  width: 70vw;
  height: 18vh;
}

/*button setting*/
.button-group {
  display: flex;
  flex-direction:column;
  gap: 15px;
  justify-content: flex-end;
}

.edit-btn,.save-btn,.submit-btn {
  width: 100px;
  padding: 10px 20px;
  border: 2px solid #a5dfef;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  color: #a5dfef;
}