<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Verify</title>
  <link rel="stylesheet" href="../css/PasswordVerify.css">
</head>
<body>
   <!-- Full Page Wrapper -->
   <div class="container">
      <!-- Top Navigation Header -->
      <div class="header">
         <img src="RegisterPageImages/LogoCircle.png" alt="Logo" class="logo">
         <div class="header-title"></div>
      </div>
      <!--message box-->
      <div class="messagebox">
         <div class="message">Your new password has been verified.</div>
         <div class="smallmessage">Please click the button to go to your dashboard.</div>
         <a href="/dashboard">
            <button class="dashboard-button">DASHBOARD</button>
         </a>
      </div> 
   </div>
</body>
</html>
