<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team10.smarthospital.mapper.NurseVitalMapper">
  <insert id="insert">
    INSERT INTO NurseVital (
    vital_id, appointment_id, heart_rate, blood_pressure, temperature,
    weight, height, bmi, glucose, o2_saturation, respiratory_rate, nurse_name)
    VALUES (
    uuid(), #{appointmentId}, #{heartRate}, #{bloodPressure}, #{temperature},
    #{weight}, #{height}, #{bmi}, #{glucose}, #{o2Saturation}, #{respiratoryRate}, #{nurseName});
  </insert>
  <select id="getByAppointmentIds" resultType="com.team10.smarthospital.model.entity.NurseVital">
    SELECT
      *
    FROM
      NurseVital
    WHERE
      appointment_id IN
      <foreach item="appointmentId" collection="appointmentIds" open="(" separator="," close=")">
        #{appointmentId}
      </foreach>
    ORDER BY update_time DESC
  </select>
</mapper>
