<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team10.smarthospital.mapper.PatientIntakeMapper">

  <insert id="insert">
    INSERT INTO PatientIntake
    (intake_id, appointment_id, notes, diagnosis, medicalHistory, follow_up_plan)
    VALUES(uuid(), #{appointmentId}, #{notes}, #{diagnosis}, #{medicalHistory}, #{followUpPlan});
  </insert>
  <update id="update">
    UPDATE
      PatientIntake
    SET
      appointment_id=#{appointmentId}, notes=#{notes}, diagnosis=#{diagnosis},
      medicalHistory=#{medicalHistory}, follow_up_plan=#{followUpPlan}
    WHERE
      intake_id=#{intakeId}
  </update>
  <select id="getByPatientId" resultType="com.team10.smarthospital.model.entity.PatientIntake">
    SELECT
      pi.*
    FROM PatientIntake pi
    LEFT JOIN Appointment a ON pi.appointment_id = a.appointment_id
    WHERE
      a.patient_id = #{patientId}
  </select>
  <select id="getIntakeHistoryByPatientId"
          resultType="com.team10.smarthospital.model.response.IntakeHistory">
    SELECT
      pi.*
    FROM PatientIntake pi
    LEFT JOIN Appointment a ON pi.appointment_id = a.appointment_id
    WHERE
      a.patient_id = #{patientId}
  </select>
  <select id="getByAppointmentId" resultType="com.team10.smarthospital.model.entity.PatientIntake">
    SELECT
      pi.*
    FROM PatientIntake pi
    WHERE
      pi.appointment_id = #{appointmentId}
  </select>
</mapper>
