<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team10.smarthospital.mapper.PrescriptionMapper">
  <insert id="insert">
    INSERT INTO Prescription
    (prescription_id, appointment_id, diagnosis, drug_allergy)
    VALUES(#{prescriptionId}, #{appointmentId}, #{diagnosis}, #{drugAllergy});
  </insert>
    <select id="getByAppointmentId" resultType="com.team10.smarthospital.model.entity.Prescription">
      SELECT *
      FROM Prescription
      WHERE
      appointment_id=#{appointmentId}
    </select>
</mapper>
