<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team10.smarthospital.mapper.UserMapper">
  <insert id="insertUser">
    INSERT INTO
    `User` (
      user_id, email, password, `role`, first_name, last_name, birth, gender, mobile_number, avatar_base64)
    VALUES (
      #{userId}, #{email}, #{password}, #{role}, #{firstName}, #{lastName}, #{birth}, #{gender}, #{mobileNumber}, #{avatarBase64})
  </insert>
  <select id="getUserByEmail" resultType="com.team10.smarthospital.model.entity.User">
    SELECT
      user_id, email, password, `role`, first_name, last_name, birth, gender, mobile_number, avatar_base64
    FROM
      User
    WHERE
      email=#{email}
  </select>
  <select id="getUserByUserId" resultType="com.team10.smarthospital.model.entity.User">
    SELECT
      user_id, email, password, `role`, first_name, last_name, birth, gender, mobile_number, avatar_base64
    FROM
      `User`
    WHERE
      user_id=#{userId}
  </select>
  <update id="updateUser">
    UPDATE
      `User`
    SET
      first_name=#{firstName}, last_name= #{lastName}, birth=#{birth}, gender=#{gender},
      email=#{email}, password=#{password}, #{role}, avatar_base64=#{avatarBase64}
    WHERE
      user_id=#{userId};
  </update>
    <update id="resetPassword">
      UPDATE
        `User`
      SET
        password=#{password}
      WHERE
        user_id=#{userId};
    </update>
</mapper>
